body {
  margin:5px;
  background-color:#BBFFFF;
}

.header {
  background-image:url("https://raw.githubusercontent.com/kosiki/myintro/master/singapore-marinabaysands.jpg");
  background-size:contain;
  height:100px;
}

h1 {
  color:blue;
  text-align:left;
  font-size:50px
  
}

.introducion {
  margin:5px;
}

.intro-title {
  font-size:20px;
}

.intro-body {
  font-size:15px;
}

.image {
  width:400px;
  margin:10px;
}

.contact-details {
  margin:5px;
}

.contact-title {
  font-size:20px;
  margin-top:20px;
}

.btn {
  display:flex;
  display:inline-block;
  border-radius:10px;
  width:100px;
  height:50px;
  padding:10px;
}

.A {
  color:black;
  background-color:lightgreen;
  font-size:15px;
}

.A:hover {
  background-color:lime;
}

.B {
  color:black;
  background-color:#AAFFFF;
  font-size:15px
  
}

.B:hover {
  background-color:#00FFFF;
}

.C {
  color:black;
  background-color:#FF99FF;
  font-size:15px;
}

.C:hover {
  background-color:#FF00FF;
}

.wall-paper {
  margin:5px;
}

.wall-paper-intro {
  font-size:20px;
  border-bottom:2px solid gray;
}

.wall-paper-details {
  font-size:15px;
}

.wallpapers {
  display:flex;
  padding:5px;
}

.promarinadetails {
  margin-right:10px;
}

.macmarinadetails {
  margin-right:10px;
}

.promarina {
  display:cover;
  height:70px;
  width:35px;
}

.macmarina {
  display:cover;
  height:70px;
  width:35px;
}
